:root{
    background-color: #222;
    background-image: url(../media/praceHolderbgimages.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    font-size: 3vh;
    font-family: 'Trench Slab', sans-serif; /*Fuente*/
    width: 100%;
}

.logo-image{
    width: 140px;
    margin: 20px;
    z-index: 200;
}

.footer-logo{
    width: 100px;
    margin: 20px;
}
.footerContainer{    
    font-family: 'Trench Slab', sans-serif; /*Fuente*/
}

footer{
    margin-top: 20vh;
    background-color: #222;
}

.footer-farm-info{
    padding-left: 10px;
}

.cont{
    font-family: 'Trench Slab', sans-serif; /*Fuente*/
    z-index: 100;
    background: #6D6466;
    margin: 100px;
    margin-top: 300px;
}

.perfiles{
    height: 245px;
}

.profile-card{
    width: 700px;
    height: 245px;
}


.bg-img-cont{
    height: 350px;
    width: 100%;
    background-image: url(../media/praceHolderbgimages.jpeg);
    position: absolute;
    z-index: 100;
}